<div class="ui container">
	<sm-segment class="raised">
		<h1>Feeds</h1>
		
		<button (click)="newFeedModal.show({inverted: true})" class="ui green basic button">+ Add Feed</button>
		<h3 *ngIf="!feeds || feeds.length == 0">There are no feeds available</h3>
		<table *ngIf="feeds && feeds.length > 0" class="ui celled table">
			<thead>
				<tr>
					<th>Name</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr *ngFor="let feed of feeds">
					<td> 
						<a [routerLink]="['/feeds', feed._id]">
								{{ feed.name }} 	
						</a>
					</td>
					<td><button class="ui red basic button" (click)="deleteFeed(feed._id)">Delete</button></td>
				</tr>
			</tbody>
		</table>
	</sm-segment>
</div>

<sm-modal title="New Feed" class="" #newFeedModal>
    <modal-content>
		<form class="ui form" (submit)="createNewFeed($event)">
			<div class="field">
				<label>Name</label>
				<input [(ngModel)]="newFeed.name" 
						name="newFeed.name"
						required
						#name="ngModel" 
						type="text"  
						placeholder="Feed name">
			</div>
		</form>
    </modal-content>
    <modal-actions>
		<div class="ui negative basic button" (click)="newFeedModal.hide()">
			Cancel
		</div>
		<div class="ui positive right labeled icon button" (click)="createNewFeed()">
			Create
		<i class="checkmark icon"></i>
		</div>
    </modal-actions>
</sm-modal>
