body {
	background: #f4f4f4;
}
.center {
	text-align: center;
	padding-top: 100px;
}
.sebm-google-map-container {
	height: 300px;
}

.ui.inverted.menu .teal.active.item, .ui.inverted.teal.menu{
	    background-color: #0083b5;
		border-radius: 0px 0px 5px 5px;
}